* {
    background-color: transparent;
    font-family: 'Roboto', sans-serif;
}

#body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#mainContainer {
    width: 700px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sectionDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.numberBox {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: solid black 4px;
    border-radius: 100%;
}
